<h2>Welcome
    <%//= currentUser.name %>
</h2>

<a href="/">Home</a>

<h1>Featured Menu</h1>

<div>
    <% meals.forEach(function(meal) { %>
        <form action="/day" method="POST" id="addmenu">
            <div class="meal">
                <% var value = JSON.parse(meal.value) %>
                    <img src="https://spoonacular.com/recipeImages/<%= value.id%>-312x231.<%= value.imageType%>">
                    <h5>
                        <%= value.title %>
                    </h5>

                    <div class="custom-select" style="width:50px;">
                        <select name="day" id="addmenu">
                          <!-- <option value="0">Day</option> -->
                          <option value="sunday">Sunday</option>
                          <option value="monday">Monday</option>
                          <option value="tuesday">Tuesday</option>
                          <option value="wednesday">Wednesday</option>
                          <option value="thursday">Thursday</option>
                          <option value="friday">Friday</option>
                          <option value="saturday">Saturday</option>
                        </select>
                    </div>
                    <input type="radio" name="time">
                    <label for="time">Breakfast</label>
                    <input type="radio" name="time">
                    <label for="time">Lunch</label>
                    <input type="radio" name="time">
                    <label for="time">Dinner</label>
                    <input type="hidden" name="name" value="<%= value.title %>">
                    <input type="hidden" name="image" value="https://spoonacular.com/recipeImages/<%= value.id%>-312x231.<%= value.imageType%>">
                    <button class="btn btn-primary" type="submit">Add meal</button>
            </div>
            <br>
        </form>
        <% }) %>
</div>